* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    background-image: radial-gradient(circle at 50% 53%, #304589, #161E3A, #09112B);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 2s ease-in-out;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .fade-in {
    animation: fadeIn 2s ease-in-out;
    animation-fill-mode: both;
  }

  .logo {
    width: 230px;
    margin-bottom: 5px;
  }

  .subtitle {
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 20px;
    color: #b0c4ff;
  }

  .form-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .form-box {
    background-color: #1d387b;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    gap: 20px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  

  .form-section {
    flex: 1;
  }

  .form-section h3 {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .form-section .subtext {
    font-size: 13px;
    color: #67e78c;
    margin-bottom: 20px;
  }

  label {
    font-size: 14px;
    margin-bottom: 15px;
    display: block;
  }

  input[type="text"]
  {
    width: 75%;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    margin-bottom: 15px;
    color: white;
    background-color: #13275B;
  }



  input[type="password"]
  {
    width: 75%;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    margin-bottom: 15px;
    color: white;
    background-color: #13275B;
  }

  input[type="email"] 

  {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    margin-bottom: 15px;
    color: white;
    background-color: #13275B;
  }

  input:focus {
    outline: 2px solid #4CAF50;
  }

  .row {
    display: flex;
    margin-top: 49.5px;
    gap: 15px;
  }

  .field {
    flex: 1;
  }

  .gender-options {
    display: flex;
    gap: 15px;
    margin: 10px 0 20px 0;
    font-size: 14px;
  }

  .faculty-join {   
    display: flex;
    gap: 100px;
    align-items: center;
    
  }

  .faculty-join input {
    flex: 1;
  }

  .btn {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease;
    border: 0.2px solid transparent;
    font-family: "Onest", sans-serif;
    font-weight: 500;
    background-color: #51D55A;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 50px;
  }


  .btn-join {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease;
    border: 0.2px solid transparent;
    font-family: "Onest", sans-serif;
    font-weight: 500;
    background-color: #51D55A;
    justify-content: center;
    align-items: center;
    color: black;
    width: 30%;
    margin-bottom: 20px;
  }



  .btn:hover {
    background-color: #3d9743;
    border: 0.2px solid #51D55A;
  }

  .btn-join:hover {
    background-color: #3d9743;
    border: 0.2px solid #51D55A;

  }

  .footer {
    background-color: #132819;
    width: 100%;
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #fff;
    margin-top: 50px;
  }

  .footer a {
    color: #8bc34a;
    text-decoration: none;
    margin-top: 4px;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .radio-wrap {
    position: relative;
    cursor: pointer;
  }
  
  .radio-wrap input[type="radio"] {
    display: none; 
  }
  
  .radio-label {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 15px;
    background-color: #13275B;
    color: white;
    transition: 0.3s ease;
    border: 1px solid transparent;
  }
  
  .radio-wrap:hover .radio-label {
    background-color: #1a3373;
    border-color: #51D55A;
    color: #51D55A;
  }
  
  .radio-wrap input[type="radio"]:checked + .radio-label {
    background-color: #51D55A;
    color: black;
    font-weight: 600;
  }
  