
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap');

        
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
        }
        .sidebar {
            width: 250px;
            background: #1D387B;
            padding: 20px;
            height: 100vh;
            color: white;
            display: flex;
            flex-direction: column;
        }
        .sidebar h1 {
            font-family: 'Overpass', sans-serif;
            font-size: 30px;
            margin-bottom: -5%;
            text-align: center;
    
        }

        .sidebar h1 span {
            font-style: italic;
            font-family: 'Poppins', sans-serif;
            font-weight: 200;
        }

        .sidebar h4 {
            font-size: 10px;
            margin-bottom: 40px;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            font-weight: 200;
        }
        .menu-item {
            display: flex;
            align-items: center;
            padding: 30px;
            border-radius: 7px;
            font-size: 20px;
            font-family: 'Onest', sans-serif;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s ease;
        }
        .menu-item:hover {
            background: #13275B;
        }
        
        
        .menu-item img {
            width: 30px;
            margin-right: 30px;
        }
        .create-btn {
            margin-top: auto;
            background: green;
            color: white;
            padding: 12px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            transition: 0.3s ease;
        }
        .create-btn:hover {
            background: darkgreen;
        }
        .main-content {
            flex: 1;
            padding: 50px;
            padding-top: 15px;
            display: flex;
            flex-direction: column;
        }
        .top-bar_d {
            flex: 1;
            padding-top: 0;
            display: flex;
            flex-direction: column;
    
        }
        .top-bar {
            background: white;
            padding: 50px;
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 100%;
            box-sizing: border-box;
        }

        .top-bar div {
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            font-weight: 600;
            
        }
        .top-bar div:first-child {
        
            font-size: 30px;
            font-weight: 300;
            
        }
        .dashboard {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 20px;
        }
        .rectangle {
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
