.trylang {
    color: #51D55A;
    font-size: 16px;
    font-family: "Onest", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: radial-gradient(circle at 50% 53%, #304589, #161E3A, #09112B);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 2s ease-in-out;
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
    animation-fill-mode: both;
}

.container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  
}


.signintitle,
.signinbox {
    transform: translateY(-80px);
    width: 15%;
    position: static; 
    text-align: center;
    
}


.footer hr {
    border: none;
    border-top: 0.2px solid #314f9b; 
    margin: 10px auto;
    width: 80%;
}

.footer {
    position: fixed;
    bottom: 40px;
   
    text-align: center;
    font-family: "Overpass", sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: rgb(168, 168, 168);
    padding: 10px 0;
  
}


.footer a {
    color: rgb(168, 168, 168);
    margin: 0 5px; 
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.container img {
    width: clamp(300px, 15%, 15%);
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


.cmstitle {
    animation-fill-mode: both;
    animation: fadeIn 2s ease-in-out;
    font-family: "Onest", sans-serif;
    font-weight: 400;
    font-size: clamp(12px, 0.8vw, 0.9rem);
    color: #E3E3E3;
    margin-top: -10px;
    width: 100%;
}

.signupbox2,
.signinbox {
    box-shadow: 0 0 20px 2px #304374;
    padding: 0.1rem;
    border-radius: 10px;
    background-color: #1D387B;
    width: clamp(300px, 30vw, 300px);
    height: auto;
    border: 0.5px solid #3d74ff;

}

.signintitle {
    color: #E3E3E3;
    font-size: clamp(20px, 0.5vw, 0.5rem);
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    width: 100%;
}

.tfieldname {
    margin-left: 22px;
    margin-right: 22px;
    text-align: left;
    font-family: "Onest", sans-serif;
    font-weight: 500;
    color: #E3E3E3;
    margin-bottom: 5px;  
    margin-top: 15px;  
    font-size: clamp(12px, 1.5vw, 12px);
}

.new-user-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    font-family: "Onest", sans-serif;
    font-size: clamp(12px, 1.5vw, 12px);
    color: #E3E3E3;
    padding-bottom: 8px;
}

.new-user-line .reglink a {
    color: #51D55A;
    text-decoration: none;
    font-weight: 500;
   
}

.new-user-line .reglink a:hover {
    text-decoration: underline;
}

.fieldrow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
}

.forgotpass {
    text-align: right;
    font-size: 10px;       
    font-family: "Onest", sans-serif;
    font-weight: 500;
    color: #E3E3E3;
    margin-right: 22px;
    margin-bottom: 5px;  
    margin-top: 15px;  
}

.forgotpass a {
    font-weight: 300;
    color: #51D55A;
    text-decoration: none;
    font-size: clamp(12px, 1.5vw, 12px);
}

.forgotpass a:hover {
    text-decoration: underline;
}

.tf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    flex-direction: column;
  
}

.tf input {
    box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #13275B;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: "Onest", sans-serif;
}

.tf input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #51D55A; 
}

.btnlogin {
    border: 0.2px solid transparent;
    font-family: "Onest", sans-serif;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    background-color: #51D55A;
    justify-content: center;
    align-items: center;
    width: 86%;
    padding: 10px;
    margin-bottom: 10px;
}

.btnlogin:hover {
    cursor: pointer;
    background-color: #3d9743;
    border: 0.2px solid #51D55A;
}

.onest-regular {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.onest-medium {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.onest-light {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.overpass-semibold {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.signupbox2 h3,
.signinbox h3 {
    font-family: "Overpass", sans-serif;
    color: #E3E3E3;
    font-size: 20px;
    margin-bottom: 5px;
  }

.signupbox2 .subtext,  
.signinbox .subtext {
    font-family: "Onest", sans-serif;
    font-size: 13px;
    color: #67e78c;
    margin-bottom: 20px;
  }

.signupbox2 h3,
.signupbox2 .subtext,
.signinbox h3,
.signinbox .subtext {
    margin-left: 20px;
    text-align: left;
}


.header {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.header img {
    width: clamp(200px, 15%, 300px);
    animation: fadeIn 2s ease-in-out;
}

.cmstitle {
    animation: fadeIn 2s ease-in-out;
    font-family: "Onest", sans-serif;
    font-weight: 400;
    font-size: clamp(12px, 0.8vw, 0.9rem);
    color: #E3E3E3;
    margin-top: 5px;
}

.container {
    padding-top: 180px; 
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
