.signinbox hr {
    border: none;
    border-top: 0.2px solid #2f4b91; 
  
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: radial-gradient(circle at 50% 53%, #304589, #101836, #040a1d);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 2s ease-in-out;
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
    animation-fill-mode: both;
}



.signintitle,
.signinbox {
   
    text-align: center;
    text-shadow: 0 0 3px 3px #3d9743;
   
}


.footer hr {
    border: none;
    border-top: 0.2px solid #314f9b; 
    margin: 10px auto;
    width: 80%;
}

.footer {
    position: fixed;
    bottom: 40px;
   
    text-align: center;
    font-family: "Overpass", sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: rgb(168, 168, 168);
    padding: 10px 0;
  
}


.footer a {
    color: rgb(168, 168, 168);
    margin: 0 5px; 
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.container img {
    width: clamp(380px, 20%, 20%);
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


.cmstitle {
    animation-fill-mode: both;
    animation: fadeIn 2s ease-in-out;
    font-family: "Onest", sans-serif;
    font-weight: 400;
    font-size: clamp(12px, 0.8vw, 0.9rem);
    color: #E3E3E3;
    width: 100%;
}

.signupbox2,
.signinbox {
    box-shadow: 0 0 20px 2px #304374;
    padding-left: clamp(20px, 2vw, 10px);
    padding-right: clamp(20px, 2vw, 10px);
    border-radius: 10px;
    background-color: #1D387B;
    width: clamp(300px, 20vw, 300px);
    height: auto;
    border: 0.5px solid #3d74ff;

}

.signintitle {
    color: #E3E3E3;
    font-size: clamp(25px, 0.5vw, 0.5rem);
    font-family: "Overpass", sans-serif;
    position: fixed;
    transform: translate(0, -300px);
    font-weight: 600;
    width: 100%;
}

.tfieldname {
    
    text-align: left;
    font-family: "Onest", sans-serif;
    font-weight: 500;
    color: #E3E3E3;
    margin-bottom: 5px;  
    margin-top: 15px;  
    font-size: clamp(12px, 1.5vw, 12px);
    width: auto;
}

.new-user-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    font-family: "Onest", sans-serif;
    font-size: clamp(12px, 1.5vw, 12px);
    color: #E3E3E3;
    padding-bottom: 8px;
}

.new-user-line .reglink a {
    color: #51D55A;
    text-decoration: none;
    font-weight: 500;
   
}

.new-user-line .reglink a:hover {
    text-decoration: underline;
}

.fieldrow {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    margin: 0 auto; 
    
}

.aligned-fields {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    gap: 20px;
}



.forgotpass {
    text-align: right;
    font-size: 10px;       
    font-family: "Onest", sans-serif;
    font-weight: 500;
    color: #E3E3E3;
    margin-bottom: 5px;  
    margin-top: 15px;  
}

.forgotpass a {
    font-weight: 300;
    color: #51D55A;
    text-decoration: none;
    font-size: clamp(12px, 1.5vw, 12px);
}

.forgotpass a:hover {
    text-decoration: underline;
}

.tf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    flex-direction: column;

    
}

.tf input {
    box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #13275B;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #304374;
    font-family: "Onest", sans-serif;
    box-sizing: border-box;
}

.tf input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #51D55A; 
}

.btnlogin {
    border: 0.2px solid transparent;
    font-family: "Onest", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    background-color: #51D55A;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnlogin:hover {
    cursor: pointer;
    background-color: #3d9743;
    border: 0.2px solid #51D55A;
    transform: scale(1.02);
}

.btnlogin:active {
    background-color: #3ea147;
    transform: scale(0.98);
}


.onest-regular {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.onest-medium {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.onest-light {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.overpass-semibold {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.signupbox2 h3,
.signinbox h3 {
    font-family: "Overpass", sans-serif;
    color: #E3E3E3;
    font-size: 20px;
    margin-bottom: 5px;
  }

.signupbox2 .subtext,  
.signinbox .subtext {
    font-family: "Onest", sans-serif;
    font-size: clamp(12px, 1.2vw, 12px);
    color: #67e78c;
    margin-bottom: 10px;
  }

.signupbox2 h3,
.signupbox2 .subtext,
.signinbox h3,
.signinbox .subtext {

    text-align: left;
}


.header {
    margin-top: 50px;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    width: clamp(250px, 20%, 300px);
    animation: fadeIn 2s ease-in-out;
}

.cmstitle {
    animation: fadeIn 2s ease-in-out;
    font-family: "Onest", sans-serif;
    font-weight: 400;
    font-size: clamp(14px, 0.8vw, 0.9rem);
    color: #E3E3E3;
    margin-top: 5px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 40px; 
    padding-bottom: 80px;
}

.gender-options {
    display: flex;
    gap: 15px;
    margin-top: 10px;
 
}


.radio-wrap {
    position: relative;
    cursor: pointer;
  }

.radio-wrap input[type="radio"] {
    display: none; 
    
  }


.radio-label {
    display: flex;
    padding: 8px 14px;
    border-radius: 12px;
    background-color: #13275B;
    color: white;
    transition: 0.3s ease;
    border: 1px solid transparent;
    font-size: clamp(12px, 1.5vw, 12px);
    font-family: "Onest", sans-serif;
  }
  
  .radio-wrap:hover .radio-label {
    background-color: #1a3373;
    border-color: #51D55A;
    color: #51D55A;
  }
  
  .radio-wrap input[type="radio"]:checked + .radio-label {
    background-color: #51D55A;
    color: black;
    font-weight: 500;
    font-size: clamp(12px, 1.5vw, 12px);
    font-family: "Onest", sans-serif;
  }


  .faculty-join {
    display: flex;
    align-items: center;
    justify-content: center;
}

  .btnjoin {
    border: 0.2px solid transparent;
    font-family: "Onest", sans-serif;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    background-color: #51D55A;
    padding: 10px 18px;
    cursor: pointer;
    font-size: clamp(12px, 1.5vw, 14px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}



.btnjoin:hover {
    background-color: #4bc052;
    transform: scale(1.02);
    color: #1a3373;
}

.btnjoin:active {
    background-color: #3ea147;
    transform: scale(0.98);
}


/*TOAST or notifffff :D reuse it if uu can @ED AND @MILAN*/
.toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    color: #fff;
    border-radius: 10px;
    font-family: 'Onest', sans-serif;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    animation: fadein 0.5s, fadeout 0.5s 3s;
}

.toast.success {
    background-color: #28a745;
}

.toast.error {
    background-color: #dc3545;
}

.toast.success {
    background-color: #4CAF50; /* Green */
    color: white;
}

@keyframes fadein {
    from { opacity: 0; bottom: 20px; }
    to { opacity: 1; bottom: 30px; }
}

@keyframes fadeout {
    from { opacity: 1; bottom: 30px; }
    to { opacity: 0; bottom: 20px; }
}


.tf input.error-border {
    border: 1px solid #dc3545 !important;
    box-shadow: 0 0 1px #dc3545 !important;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    
}

input.match-border {
    border: 2px solid #4CAF50; 
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-8px); }
    40% { transform: translateX(8px); }
    60% { transform: translateX(-8px); }
    80% { transform: translateX(8px); }
    100% { transform: translateX(0); }
  }
  

.shake {
  animation: shake 0.4s ease-in-out;;
}


.sidebar-item {
  @apply flex items-center px-7 py-3 h-[53px] border-2 border-[#2A4484] text-[16px] font-onest text-[#E3E3E3] font-[400] rounded-[10px] hover:bg-[#13275B] active:border-[#51D55A] cursor-pointer transition;
}

.sidebar-icon {
  @apply w-[22px] mr-[22px];
}

.sidebar-text {
  @apply transition-all duration-300;
}

#sidebar.collapsed .sidebar-text {
  display: none;
}

#sidebar.collapsed {
  width: 80px;
}

#sidebar.collapsed #sidebar-logo {
  content: url("../img/cdicon.svg");
  width: 40px;
}

#sidebar.collapsed #sidebar-desc {
  display: none;
}

#sidebar.collapsed .sidebar-create {
  display: none;
}

#sidebar.collapsed #chevron-icon {
  transform: rotate(180deg);
}

.registration-title {
    display: flex;
    align-items: center;
    font-family: "Overpass", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #222;
    gap: 10px; /* space between arrow and text */
}

.back-arrow {
    cursor: pointer;
        transition: all 0.2s ease;
        background: transparent;
        border: none;
        padding: 4px;
        color: #ffffff;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, transform 0.2s;
}

.back-arrow:hover {
    transform: translateX(-2px);
    background: rgba(255, 255, 255, 0.1);
}

.back-arrow:active {
    background-color: #162f80;
    transform: translateX(-2px) scale(0.95);
}


#chevron-icon {
    transition: transform 0.3s ease-in-out;
}

